body{
  background-color:black;
  color: aliceblue;
}

.app-header{
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.app-footer{
  text-align: center;
}

.task{
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #690000;
  cursor: pointer;
  background-color: #6e0202;
  margin-bottom: 8px;
  display: flex;
}

.check {
  flex: 1;
}

.title {
  flex: 1;
}

.deletetask {
  flex: 1;
  height: 50px;
}


